<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>筋トレ</title>
<script type="text/javascript" th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
<script>

$(function(){
	$('#basalMetabolismBtn').on('click',function(){
		let target=$('form#profileForm');
		let url1='http://localhost:18080/MslMgt/api/basalMetabolism';
		target.attr('action',url1);
		target.submit();
	});

	
	
});

</script>
</head>
<body>
	<h2>リクエスト発行画面</h2>
	<h3>筋トレシステム</h3>
	<form id="profileForm" method="GET">
		name:<input type="text" name="name" value="iwatakhr"/>例: iwatakhr
		<br><input type="button" id="basalMetabolismBtn" value="基礎代謝" formtarget="_blank">
	</form>
	
</body>
</html>